/* src/styles/modal.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.mailmdl-nwemsfg {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 14px;
  font-size: 16px;
  color: #262626;
}
.mailmdl-modal-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.mailmdl-email-modal {
  background-color: white;
  border-radius: 8px;
  width: 700px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin: 20px;
}
.mailmdl-modal-header {
  background-color: #e3f3ff;
  display: flex;
  justify-content: space-between;
  padding: 8px 24px 8px 24px;
  gap: 16px;
}
.mailmdl-modal-header1 {
  background-color: #007aff;
  color: white;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.mailmdl-close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.mailmdl-modal-body1 {
  padding: 16px;
}

.mailmdl-to-field {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mailmdl-to-field label {
  width: 30px;
}

.mailmdl-to-field input {
  flex-grow: 1;
  padding: 6px;
  margin-right: 33px;
  border-radius: 4px;
  margin-top: 5px;
  border: 1px solid #ccc;
  width: 100%;
  outline: none;
  border: 1px solid rgb(151, 150, 150);
}

.mailmdl-cc-bcc {
  color: black;
  cursor: pointer;
}

.mailmdl-email-body {
  width: 100%;
  margin-top: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mailmdl-subject {
  width: 77.5%;
  flex-grow: 1;
  padding: 6px;
  /* margin-right: 33px; */
  border-radius: 4px;
  margin-top: 5px;
  border: 1px solid #ccc;
  /* width: 100%; */
  outline: none;
  border: 1px solid rgb(151, 150, 150);
}

.mailmdl-email-body {
  min-height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgb(151, 150, 150);
}

.mailmdl-modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-top: 1px solid #eee;
  background-color: #f9f9f9;
}

.mailmdl-footer-icons button {
  background: transparent;
  border: none;
  /* margin-right: 0px; */
  cursor: pointer;
  font-size: 16px;
}

.mailmdl-btns {
  background: transparent;
  border: none;
  /* margin-right: 0px; */
  cursor: pointer;
  font-size: 16px;
}

.mailmdl-minus {
  color: white;
}

.mailmdl-send-btn {
  background-color: #0055d9;
  color: white;
  border: none;
  padding: 8px 12px 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.mailmdl-email-modal.expanded-modal {
  width: 90vw;
  height: 90vh;
}

.mailmdl-header-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.mailmdl-link-input-box {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.mailmdl-link-input-box input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mailmdl-link-input-box button {
  padding: 6px 12px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mailmdl-calendar-popup {
  margin-top: 10px;
}















